@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,900;6..12,1000&family=Roboto:wght@300;500;900&display=swap");

.button {
    background-color: #e69a6e;
    border: 2px solid #f7f8ef;
    color: #f7f8ef;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.2s;
    border-radius: 5px;
    width: 350px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none !important;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-decoration: none;
}
.button:hover {
    background-color: #ebbda3; /* Green */
    color: #f7f8ef;
    text-decoration: none;
}
.Link {
    text-decoration: none;
    cursor: pointer;
}
.title {
    font-family: "Roboto", sans-serif;
}
.para {
    font-family: "Nunito Sans", sans-serif;
}
.cons {
    display: flex;
    width: 300px;
    padding: 22px;
    border-radius: 20px;
    height: 150px;
    background-color: #ebe7d6e0;
    justify-content: flex-end;
    align-items: flex-start;
    border: solid 5px #3a3f3e;
    color: #3a3f3e;
    flex-direction: column;
    align-content: flex-start;
}
